/* html {
  scroll-behavior: smooth;
} */

body{
  text-align: center;
}
.Portfolio {
  padding-left: 15%;
  padding-right: 15%;

}

.border-bottom{
  background-color: #f39c12;
}

.spacer {
border-width: 10px;
background-color: #f39c12;
margin-bottom: 100px;
margin-top: 100px;
}

/* nav-bar text */
.section-link:hover {
  font-weight: 200;
  text-decoration-color: #f39c12;
}

@media (max-width: 768px) {
.Portfolio{
  padding-left: 0;
  padding-right: 0;
}
}





.heading {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-decoration: underline;
  text-decoration-color: #f39c12;
}

.header-image {
  max-height: 200px;
}



.project{
  vertical-align: middle;
  margin-bottom: 120px;
}

.skills-list{
  padding-right: 5px;
}



.interests-list{
  padding-left: 5px;

}

.interests-list a{
  color: #2ECC71
}


ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\25AA";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #f39c12; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}


.carousel-item {
  padding: 7% 15%;
}

.carousel-image {
  width: 50%;
  margin: 20px;
}
.carousel-inner img {
  margin: auto;
}

.cc-slider{
  background-color: #f39c12;
}
